{
  "settings": {
    "import/resolver": {
      "typescript": {},
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "env": {
    "es6": true
  }
}
